body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
.logo {
  height: 10%;
  width: 10%;
  position: fixed;
  border-radius: 20px;
}

/* .grid-container */
.grid-container {
  z-index: 3;
  display: grid;
  grid-template-columns: 15% 10% 10% 10% 25% auto auto;
  grid-template-rows: 1fr;
  background-color: #272727;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15%;
}

/* .vermais */
.vermais {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #FFF;
  font-size: 14px; /* Ajuste o tamanho conforme necessário */
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: Arial;
  font-weight: bold;
  width: 50%;
  background-color: #F6BE00;
  border: none;
  outline: none;
  box-shadow: 0px 5px 5px #efefef72;
  height: 35px;
  cursor: pointer;
  margin: 25px;
}

.carrinho, .login{
  height: 40px; /* Ajuste a altura conforme necessário */
  width: 40px; /* Ajuste a largura conforme necessário */
  align-items: center;
}
.onda{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 43px;
  width: 145px;
}

/*a {
  font-family: Arial;
  font-size:large;
  border-color: #F6BE00;
  border-width: 7px;
  border-style: solid;
  border-radius: 70px;
}


a:link {
  background: #F6BE00;
  text-decoration: none;
  font-weight:100;
  font-weight: bold;
  padding: 0 1vw;
 
 }
 
 a:hover {
  background: #ffe48c;    
  color: #FFF;
  border-color: #ffe48c;
  font-weight: 50;
  padding: 0 1.2vw;

 }*/
.botao-menu{
  font-family: Arial;
  font-size:large;
  border-color: #F6BE00;
  border-width: 7px;
  border-style: solid;
  border-radius: 70px;
}
.botao-menu:link {
  background: #F6BE00;
  text-decoration: none;
  font-weight:100;
  font-weight: bold;
  padding: 0 1vw; 
} 
.botao-menu:hover {
  background: #ffe48c;    
  color: #FFF;
  border-color: #ffe48c;
  font-weight: 50;
  padding: 0 1.2vw;
}



.grid-logo {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    background-color: #272727;
    color: black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 20px;
  font-size: 30px;
}
.search-container
{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 20px;
    grid-area: auto / 5  ;
}

.grid-carrinho {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #272727;
    color: black;
    padding: 20px;
  }
.carrinho{
    height: 50%;
    width: 50%;
}
.grid-login {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #272727;
  color: black;
  padding: 20px;
}

.home{
  height: 170px;
  display: grid;
  flex-direction: row;
  width: auto;
  background-color: #f6bd0049;
  margin-top: 95px;
  position: static;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  
}
.img{
  width: 100%;
  height: 100%;
  
}
.margem-titulo{
  margin-left: 50px;
  margin-top: 10px;
}

body
{
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container2 {
  margin-top: 20px;
  margin-left: 9%;
  margin-right: 9%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px; /* Reduzir o espaçamento entre as células */
}

.grid-container2 > * {
  margin: 10%; /* Remover as margens padrão */
  font-family: Arial;
}

.gustavo {
  box-shadow: 0px 10px 10px #CCC;
  border-radius: 30px;
  grid-row: 1;
  grid-column: 1;
  background-color: #EFEFEF;
  color: #272727;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gustavo > img{
  border-radius: 30px;
}

.heitor {
  box-shadow: 0px 10px 10px #CCC;
  border-radius: 30px;
  grid-row: 1;
  grid-column: 2;
  background-color: #EFEFEF;
  color: #272727;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heitor > img{
  border-radius: 30px;
}

.igor {
    box-shadow: 0px 10px 10px #CCC;
    border-radius: 30px;
  grid-row: 1;
  grid-column: 3;
  background-color: #EFEFEF;
  color: #272727;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.igor > img{
  border-radius: 30px;
}

.janaina {
    box-shadow: 0px 10px 10px #CCC;
    border-radius: 30px;
  grid-row: 1;
  grid-column: 4;
  background-color: #EFEFEF;
  color: #272727;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.janaina > img{
  border-radius: 30px;
}

.juliana {
    box-shadow: 0px 10px 10px #CCC;
    border-radius: 30px;
  grid-row: 1;
  grid-column: 5;
  background-color: #EFEFEF;
  color: #272727;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.juliana > img{
  border-radius: 30px;
}

.infogeral
{
box-shadow: 0px 10px 10px #CCC;
border-radius: 30px;
grid-row: 1;
grid-column: 1;
background-color: #EFEFEF;
color: #272727;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}