body {
    margin: 0;
}

.main-login {
    width: 100%;
    height: 100vh;
    background: #f6bd0049;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 75%; /* 6/8 da largura da main-login */
    height: 85%;
    background: #FFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.left-login {
    font-family: Arial;
    width: 50%; /* Metade da largura do login-container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background-color:#272727;
   border-radius: 20px;
   position: relative;

}

.left-login img {
    width: 100%;
    margin-top: none;
    height: auto;
    display: flex;
    justify-content:top;
}

.left-login > h1 {
    font-family: Arial;
    color: #FFF;
    margin-top: 20px;;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
}

.left-login > h3
 {
    font-family: Arial;
    color: #FFF;
    margin: 20px;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
}

.right-login {
    font-family: Arial;
    margin-top: 20px;
    color: #FFF;
    width: 75%; /* Metade da largura do login-container */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.close-button {           --------------ERA PARA SER O BOTÃO DE FECHAR (nÃO CONSEGUI CONFIGURAR A POSIÇÃO)----------------
    justify-content: right;
    top: 60px;
    right: 180px; 
    cursor: pointer;
    background-color: #FFF;
    
}

.close-button img {
    width: 20px;
    height: 20px;
    margin: none;
}
*/

.card-login
{
    font-family: Arial;
    font-size:larger;
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

.card-login > h1
{
    color: #000;
    font-weight:bold;
    margin: 0;
}

.textfield
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: Arial;
    font-weight: bold;
    background-color: #FFF;
    width: 100%;
    position: relative;
    height: auto;
}

input#senha {
    background-image: url(IconLOCK.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    justify-content: center;
    background-position: 10px 24px;
    background-size: 20px;
    
}

input#user {
    background-image: url(IconNAME.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
    justify-content: center;
    background-position: 10px 27px;
    background-size: 20px;
    
}

.textfield > input{
    font-family: Arial;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    background: #EFEFEF;
    color: #CCC;;
    font-size: 12pt;
    box-shadow: 0px 10px 10px #CCC;
    outline: none;
    box-sizing: border-box;
    border: none;
    height: 70px;

}


.textfield > label{
    color:#CCC;
    margin-bottom: 10px;
    
}

.textfield > input{
    font-family: Arial;
   color:#272727;
}

.btn-login {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #FFF;
    font-size: large;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: Arial;
    font-weight: bold;
    width: 60%;
    background-color: #F6BE00;
    border: none;
    outline: none;
    box-shadow: 0px 10px 10px #CCC;
    height: 70px;
    cursor: pointer;
    margin: 25px;
  }
  
  .btn-login:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F6BE00;
    border-radius: 10rem;
    z-index: -2;
  }
  
  .btn-login:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #b68b00;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  .btn-login:hover {
    color: #FFF;
  }
  
  .btn-login:hover:before {
    width: 100%;
  }
  
a {
    font-size: small;
    border-color: #272727;
    border-width: 7px;
    border-style: solid;
    border-radius: 70px;
  }
  

a:link {
    background: #272727;
    text-decoration: none;
    font-weight: bold;
   
   }
   
   a:hover {
    background: #CCC;
    color: #FFF;
    font-weight: bold;
    border-color: #CCC;
   }

/*#search:active { background-image: none; }   --- FAZER ICONE DESAPARECER ENQUANTO USUÁRIO ESTIVER ESCREVENDO*/